<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>
<body>
    <div>
        {% if content.can_click %}
            <a href="{% url 'account:profile' %}">
        {% endif %}
        {{ content.author.email }}</a>
    </div>
    <div>
        
    </div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    
    function preview(){
        var data = {
                    'action': 'preview',
                    'text': document.getElementById('text').textContent
                }
        console.log(data)
        $.ajax({
            url: "{% url 'article:home' %}",
                type: 'POST',
                data: data,
                success: function(data) {
                    document.getElementById('preview-page').innerHTML = data
                }
        })
    }

</script>
</html>